li{    padding: 0px 0px;
  display: inline-block;}

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .Header{background: #000;
    color: #fff;
    text-align: center;
    padding: 15px 11px;}
  
  
  
  /* Show the dropdown menu on hover */
  /* .dropdown:hover .dropdown-content {display: block;} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #262626;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
 /*.navbar-nav2>li:hover .dropdown-content {display: block;} */

  .show{
      display: block;
  }
.header-top span a{font-family: arial;
    color: #000 !important;
    font-weight: bold;
    font-size: 17px;}
.dropdown-menu>li>a{padding: 9px 25px;}
.nav .dropdown-menu li:last-child a {
    padding: 9px 25px;
}
.navbar-nav>li>.dropdown-menu{border:0px;}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #414141;
    color: white;
    cursor: pointer;
    padding:2px 8px 5px 8px;
    border-radius: 5px;
    font-size:28px;
    line-height: 0px;
}       

.navbar-nav2 {
    float: right!important;
    margin-right: 0px;
    margin-bottom: 0px;
}
.logo img {
    width: 125px;
    height: auto;
    margin-top: 13px;
}
.navbar-nav2>li {
    float: left;
    list-style-type: none;
}
.navbar-nav2>li>a:hover{
    text-decoration: none;
}
.navbar-nav2>li>a {
  line-height: 45px;
  font-family: BRADHITC;
  font-size: 22px;
  color: #777;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  display: block;
  padding: 0px 30px;
}
.footer{background: #000;
  color: #fff;
  text-align: center;
  padding: 15px 11px;}
.logo{    margin-top: 15px;
  margin-left: 30px;
}
.container{display: inline-block;
    width: 100%;}
    .col-md-4{float: left; width:25%;}
    .col-md-8{float: left; width:75%;}
  
